<nav class="navbar navbar-expand-sm sticky-top bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Disney Animation Database</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li routerLinkActive="active" class="nav-item">
                <a routerLink="movies" class="nav-link">Movies</a>
            </li>
            <li routerLinkActive="active" class="nav-item">
                <a routerLink="spinoffs" class="nav-link">Spinoffs</a>
            </li>
            <li routerLinkActive="active" class="nav-item">
                <a routerLink="characters" class="nav-link">Characters</a>
            </li>
            <li routerLinkActive="active" class="nav-item">
                <a routerLink="eras" class="nav-link">Eras</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>