<nav class="navbar nav-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Disney Animation Database</a>
        </div>
        <ul class="nav navbar-nav">
            <li routerLinkActive="active"><a routerLink="movies">Movies</a></li>
            <li routerLinkActive="active"><a routerLink="spinoffs">Spinoffs</a></li>
            <li routerLinkActive="active"><a routerLink="characters">Characters</a></li>
            <li routerLinkActive="active"><a routerLink="eras">Eras</a></li>
        </ul>
    </div>
</nav>