<nav class="navbar navbar-expand-sm sticky-top navbar-dark" style="margin-bottom: 1%">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Disney Animation Database</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a routerLink="movies" class="nav-link"
                [ngClass]="{'active': selectedLink === 'movies'}"
                (click)="navClick($event, 'movies')"
                >Movies</a>
            </li>
            <li class="nav-item">
                <a routerLink="spinoffs" class="nav-link"
                [ngClass]="{'active': selectedLink === 'spinoffs'}"
                (click)="navClick($event, 'spinoffs')">Spinoffs</a>
            </li>
            <li class="nav-item">
                <a routerLink="characters" class="nav-link"
                [ngClass]="{'active': selectedLink === 'characters'}"
                (click)="navClick($event, 'characters')">Characters</a>
            </li>
            <li class="nav-item">
                <a routerLink="eras" class="nav-link"
                [ngClass]="{'active': selectedLink === 'eras'}"
                (click)="navClick($event, 'eras')">Eras</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>