<div class="panel panel-default">
    <div class="panel-heading">
        <h1>{{era.name}}</h1>
        <div style="margin-top: 15px;">
            <button class="btn btn-primary" [routerLink]="'./edit'">Edit</button>
            <button class="btn btn-danger">Delete</button>
        </div>
    </div>
    <div class="panel panel-body">
        <p><b>Years:</b> {{era.start_year}} - {{era.end_year}}</p>
        <p><b>Description:</b> {{era.description}}</p>
        <p><b>Movies in this era:</b> {{era.moviesInEra}}</p>
    </div>
</div>