<div class="panel panel-default">
    <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <h2 class="title" style="margin-left: 3%;">Spinoffs</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="panel-body">
        <app-spinoff-item
        *ngFor="let spinoff of spinoffs" [spinoff]="spinoff"></app-spinoff-item>
    </div>
</div>
