<div class="card">
    <div class="card-header">
        <h1><b>{{character.name}}</b></h1>
        <div style="margin-top: 15px;">
            <button class="btn btn-primary" [routerLink]="'./edit'">Edit</button>
            <button class="btn btn-danger" (click)="onDelete()">Delete</button>
        </div>
    </div>
    <div class="card-body character-panel">
        <div class="card character-right">
            <img src="{{character.image}}" alt="Picture of {{character.name}} from {{character.movie}}">
        </div>
        <div class="card character-left">
            <h2>Movie: {{character.movie}}</h2>
            <p><b>Role:</b> {{character.role}}</p>
            <p><b>Description:</b> {{character.description}}</p>
            <p><b>Trivia:</b> {{character.trivia}}</p>
        </div>
    </div>
</div>