<div class="card">
    <div class="card-body">
        <form id="era-edit" #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="name">Era Name:</label>
                    <input
                        type="text"
                        id="name"
                        class="form-control required"
                        size="120"
                        max="120"
                        name="name"
                        [ngModel]="era?.name"
                        #name="ngModel"
                        required
                        >
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="start_year">Start Year:</label>
                    <input
                        type="number"
                        id="start_year"
                        class="form-control required"
                        name="start_year"
                        [ngModel]="era?.start_year"
                        #name="ngModel"
                        required
                        >
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="end_year">End Year:</label>
                    <input
                        type="number"
                        id="end_year"
                        class="form-control required"
                        name="end_year"
                        [ngModel]="era?.end_year"
                        #name="ngModel"
                        required
                        >
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="description">Description:</label>
                    <textarea id="description" 
                    class="form-control required" 
                    rows="4" cols="120" 
                    name="description" 
                    [ngModel]="era?.description"
                    #name="ngModel"
                    required
                    ></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="moviesInEra">Movies In Era:</label>
                    <input 
                    type="text"
                    id="moviesInEra"
                    class="form-control required"
                    size="120"
                    max="500"
                    name="moviesInEra"
                    [ngModel]="era?.moviesInEra"
                    #name="ngModel"
                    required
                    >
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" style="margin-top: 1%;">
                    <button class="btn btn-success" type="submit" [disabled]="f.invalid">Submit</button>
                    <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>