<div class="panel panel-default">
    <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row" style="margin-left: 3%">
                <h1 class="title pad-left-right">Movies</h1>
              </div>
              <div class="row" style="margin-left: 3%">
                <div class="pad-left-right">
                  <a class="btn btn-success" [routerLink]="['new']">Add Movie</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="panel-body">
        <app-movie-item
        *ngFor="let movie of movies; let i = index" [movie]="movie" [index]="i"></app-movie-item>
    </div>
</div>
