<div class="card">
    <div class="row">
        <div class="col-xs-12">
          <div class="card-header">
              <div class="row" style="margin-left: 3%">
                <h1 class="title pad-left-right">Movies</h1>
              </div>
              <div class="row" style="margin-left: 3%">
                <div class="pad-left-right">
                  <a class="btn btn-success" [routerLink]="['new']">Add Movie</a>
                </div>
              </div>
          </div>
        </div>
      </div>
    <div class="card-body" style="margin: 2%;">
        <div class="list-group">
          <mat-spinner *ngIf="isLoading"></mat-spinner>
          <app-movie-item
          *ngFor="let movie of movies; let i = index" [movie]="movie" [index]="i"></app-movie-item>
        </div>
    </div>
</div>
