<div class="panel panel-default">
    <div class="panel-heading">
      <div class="row pad-left-right">
        <h2 class="title" style="margin-left: 3%">Animation Eras</h2>
        <span>Disney's animated movies are commonly categorized into different eras. The movies of these
            eras usually have something in common, such as the format or art style.
        </span>
      </div>
    </div>
    <div class="panel-body">
      <div class="center-panel">
       <app-era-item
       *ngFor="let era of eras; let i = index" [era]="era" [index]="i">
        </app-era-item>
      </div>
    </div>
  
  </div>