<div class="card">
    <div class="card-header">
      <div class="row pad-left-right">
        <h2 class="title" style="margin-left: 3%">Animation Eras</h2>
      </div>
      <div class="row pad-left-right" style="margin-left: .5%">
        <span>Disney's animated movies are commonly categorized into different eras. The movies of these
            eras usually have something in common, such as the format or art style.
        </span>
      </div>
    </div>
    <div class="card-body">
      <div class="center-panel">
        <mat-spinner *ngIf="isLoading" style="margin: auto"></mat-spinner>
       <app-era-item
       *ngFor="let era of eras; let i = index" [era]="era" [index]="i">
        </app-era-item>
      </div>
    </div>
  
  </div>