<div class="panel panel-default">
    <div class="panel-heading">
        <h1>{{movie.title}}</h1>
    </div>
    <div class="panel panel-body movie-panel">
        <div class="movie-right">
            <p><b>Year:</b> {{movie.year}}</p>
            <p><b>Era:</b> {{movie.era}}</p>
            <p><b>Length:</b> {{movie.length}}</p>
            <p><b>Trivia:</b> {{movie.trivia}}</p>
            <p><b>Category:</b> {{movie.category}}</p>
        </div>
        <div class="movie-left">
            <img src="{{movie.promoImage}}" alt="Theatrical poster for {{movie.title}}">
            <p><b>Theatrical Trailer: </b><a href={{movie.trailerLink}}>{{movie.trailerLink}}</a></p>
        </div>
    </div>
</div>