.movie-panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
}

.movie-left{
    grid-column: 2;
}

.movie-left p {
    margin-top: 1%;
}

.movie-right {
    grid-column: 1;
    font-size: large;
}